target/
*.iml
*.ipr
.idea
.DS_Store
.settings
.classpath
.project

_site
www/.sass-cache
www/.jekyll-cache
www/.jekyll-metadata
www/vendor
www/api
www/CONTRIBUTING.md
www/README.md
www/TCK-Results.md
